// =============================================================================
// Colors
// =============================================================================

$primary-color: #FF5B79;
$secondary-color: #ffffff;
$background-color: linear-gradient(136deg, rgba(46, 9, 22, 0.97) 12.91%, rgba(32, 10, 43, 0.69) 87.68%);


// =============================================================================
// Fonts
// =============================================================================

$main-font: 'Poppins', sans-serif;
$text-size: 16px;



// =============================================================================
// Containers
// =============================================================================
$main-wrapper: 1110px;


// =============================================================================
// Spacing
// =============================================================================

$margin: 20px;
$padding: 10px;

// =============================================================================
// Border
// =============================================================================

$border-width: 1px;
$border-color: #ccc;

// =============================================================================
// Breakpoints
// =============================================================================

$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;
