// =============================================================================
// Colors
// =============================================================================

$primary-color: #3498db;
$secondary-color: #e74c3c;
$text-color: #333;
$link-color: #0074d9;
$background-color: #f4f4f4;

// =============================================================================
// Fonts
// =============================================================================

$main-font: 'Roboto', sans-serif;
$text-size: 16px;


// =============================================================================
// Spacing
// =============================================================================

$margin: 20px;
$padding: 10px;

// =============================================================================
// Border
// =============================================================================

$border-width: 1px;
$border-color: #ccc;

// =============================================================================
// Breakpoints
// =============================================================================

$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;
